@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700,700i&display=swap');

body{
    background-color: #EBEAE6;
    font-size: 14px;
    font-family: "Ubuntu Mono", monospace;
    background-image: url("Images/Background.svg");
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a::before{
    content: "[";
}

a::after{
    content: "]";
}

*{
    line-height: 20px;
}

.document{
    width: 700px;
    margin: 40px auto;
}


.index{
    font-size: 0;
    display: flex;
    margin-bottom: 40px;
}

.index .label{
    font-size: 14px;
}

.index a{
    padding: 0 5px;
    font-size: 14px;
}

.index a.current{
    font-weight: bold;
    text-decoration: none;
    color: black;
    cursor: default;
}

.index-items{
    display: flex;
    flex-wrap: wrap;
}

.doc{
    margin-bottom: 20px;
}

.doc-title{
    font-weight: bold;
}

.doc-description{
    margin-left: 18px;
    color: rgba(0, 0, 0, 0.85);
}

.doc-meta{
    float: right;
    color: rgba(0, 0, 0, 0.5);
}

.paginator{
    text-align: center;
}

p{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

h1{
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

h1::before{
    content: "--- "
}

h1::after{
    content: " ---"
}


.header{
    height: 40px;
    display: flex;
    margin-bottom: 40px;

}

.logo{
    width: 110px;
    height: 36px;
    background-image: url("./Images/Logo.svg");
    display: inline-block;
    flex: 0 0 110px;
}

.logo::before, .logo::after{
    display: none;
}

.search-box{
    flex: 1 1;
    margin-left: 36px;
}

.search{
    height: 19px;
    padding: 0 2px !important;
    margin: 0 -2px !important;
    border: 0 !important;
    width: 100%;
    font-size: 14px;
    position: relative;
    font-family: "Ubuntu Mono", monospace;
    background-color: #EBEAE6 !important;
}

.search:focus{
    background-color: rgb(245, 244, 240) !important;
}


.search-field{
    position: relative;
    height: 19px;
    font-size: 0;
}

.search-field::before{
    content: " ";
    font-size: 0;
    position: absolute;
    left: -3px;
    right: -3px;
    bottom: -1px;
    height: 4px;
    background-color: gray;
}

.no-results{
    text-align: center;
    font-style: italic;
}


.login-row{
    width: 350px;
    margin: 0 auto;
    font-size: 0;
    height: 20px;
    margin-bottom: 20px;
}

.login-row label{
    width: 100px;
    display: inline-block;
    font-size: 14px;
}

input[type=password]{
    width: 250px;
}

input[type=password], input[type=text]{
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    font-family: "Ubuntu Mono", monospace;
    background-color: transparent;
    border-bottom: 1px solid #808080;
}

.login-submit, .edit-form input[type=submit]{
    margin: 20px auto;
    display: block;
    border: none;
    height: 20px;
    font-family: "Ubuntu Mono", monospace;
    background-color: transparent;
    color: blue;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}

.login-submit:hover, .edit-form input[type=submit]:hover{
    background-color: #ccc;
}

.login-submit:active, .edit-form input[type=submit]:active{
    background-color: #444;
    color: white;
}

.login-error, .form-error{
    text-align: center;
    margin-bottom: 20px;
}

.toolbar{
    text-align: right;
}

ol, ul, li{
    margin: 0;
    padding: 0;
}

ol, ul{
    margin: 20px 0 20px 40px;
}

.edit-form{
    margin: 0 auto;
    width: 600px;
}

.form-row{
    font-size: 0;
    height: 20px;
}

.edit-form label{
    width: 100px;
    font-size: 14px;
    display: inline-block;
}

.edit-form input[type=text]{
    width: 500px;
    height: 19px;
}

.edit-form textarea{
    display: block;
    width: 100%;
    padding: 0;
    margin: 19px 0 0 0;
    font-family: "Ubuntu Mono", monospace;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #808080;
    max-width: 100%;
    min-width: 100%;
    height: 338px;
}
